@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1596451933917'); /* IE9 */
  src: url('iconfont.eot?t=1596451933917#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABrgAAAKLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBHIEZATYCJAMMCwgABCAFhG0HOxvkBciemjwJVEigEFI0W44F0Vg8/Df27b6Z+aptzYDEEkVPF5HE6TSJYtWjlUQK2jxD3cu13C+jjSvfg+q8KpFCfbSbzx/kJpcCkCMUrsq0QpIwrbBtgC0nyJkV/O/zXE5vAh3IqI9RTnvbGJuio16AcUCBjjUosiJKiBvGLniBxwk0zeqWODwyNQtlCntcIG4LbkFZIaYorFgXqg1Li3gOFfX0oOAdz6Lvx187o4ykktlTj9wadqHvhx/le//bLgQExAlwdQUZO4BCXGrMnVEoGFeoaSnqrq4qQloquTWRxjBVnT88kiCq7MY2WEf5xA+eJrMGdU9dyPB0iqwCm+z43hCj0drllNzLd9cPrfzmUTNevbhskqfTFrq+n1dVt77abnIvN19/trEd2izMfzdQbzXWo78lFXw/xNsKylycLrb8tfDN1ZV1Hrc087Nni2CyfyYfL5gF5I8FDiQQ3P2fy7W7/9UrC/i8zsVoaJGuA6hLDNb+M+3AtmLobW8umsbTWIFsNCCb0DSCttihoa/pjsl9lULdZEKoZuYeA3XLGVnYHaho2YWqun1o2m50dcuIUihKA9scAIS+NyRdn5D1fZCF/UTF1C+q+lGIplMx2rJlNUTFIYWWRpfZK0w4MiTXryvi5mnkC76l8vqIn0cViyRLG6lycRRDVEvMiBd5RmtipGTARsBp6PuSRUrm0dFGTusom0xS05sMRwZQ4RAFWTTkYmwrGMEhhSjorlVUPj8NcQt8FtUhqSvPQ0pM9M+kGVIDyFFLOEjyKK/EFnEZmkYYokgBZgQMQj6fxETNg/KQQzPkJmQiWUmnEw21GNvbgv/bA032zBwpchTNO8IKeZzzq4tuyKUQAAA=') format('woff2'),
  url('iconfont.woff?t=1596451933917') format('woff'),
  url('iconfont.ttf?t=1596451933917') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1596451933917#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e65b";
}

.icon-down:before {
  content: "\e600";
}

