.el-input-number--small .el-input-number__decrease, .el-input-number--small .el-input-number__increase {
	line-height: 30px;
}
.el-input-number--mini .el-input-number__decrease, .el-input-number--mini .el-input-number__increase {
	line-height: 26px;
}
.mt-20 {
	margin-top: 20px;
}

.mt-5 {
	margin-top: 5px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.pl-10 {
	padding-left: 10px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.tac {
	text-align: center;
}

.pl-10 {
	padding-left: 10px;
}
.pl-20 {
	padding-left: 20px;
}

.sel {
	width: 220px!important;
}

/* 更改elemnt-ul默认样式 */
.el-input {
	/* width: 220px !important; */
}

.el-input-number {
	width: 148px !important;
}

/* 表格样式 */
.configbox {
	/* padding: 0 120px; */
	margin-bottom: 20px;
	color: #7c7c7c;
}

.lh-40 {
	line-height: 40px;
}

.el-row {
	box-sizing: border-box;
}

.quantity_box .quantity_box_slider {
	width: 100%
		/* width: 70%; */
}

.quantity_input {
	width: 200px;
}

.quantity_box_input {
	width: 100%;
	position: relative;
	display: flex;
}


/*  CPU数量 */
.select_block_box {
	/* height: 30px; */
	margin-top: 5px;

}
.select_block_box::after{
  content: '';
  display: block;
  clear: both;
}
.select_block_item {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	min-width: 80px;
  padding: 0 8px;
	height: 30px;
	background-color: #f5f6f7;
	color: #1d1f2e;
	font-size: 14px;
	cursor: pointer;
}

.select_block_item:first-child {
	border-radius: 2px 0 0 2px;
}

.select_block_item:last-child {
	border-radius: 0 2px 2px 0;
}

.select_block_item:hover {
	background-color: #007bfc;
	/* // border-radius: 2px !important; */
	color: #fff;
}

.block_item_active {
	/* // background-color: #e9e9e9; */
	/* // background-image: url("../../assets/img/cpu_choosed.png"); */
	/* // background-repeat: no-repeat; */
	/* // background-size: 100% 100%; */
	background-color: #007bfc;
	border-radius: 2px !important;
	color: #fff;
}

.tips {
	font-size: 12px;
	color: #959799;
	clear: both;
	margin-top: 13px;
}


/* // 选择国家(选择数据中心) */
.country_box .el-input__inner {
	text-align: center !important;
}

.country_box .country_item {
	width: 160px;
	height: 119px;
	border-radius: 2px;
	border: solid 1px #e6e7eb;
	margin-right: 30px;
	margin-bottom: 5px;
	cursor: pointer;
}

.country_item_name {
	line-height: 30px;
}

.order .configbox .country_box .country_item_active .el-input__inner {
    color: #007bfc!important;
    border: 1px solid #007bfc;
}

.country_item_flag {
	width: 50px;
	height: 34px;
	border-radius: 4px;
}

.country_item_innerbox {
	height: 67px;
	text-align: center;
	padding-top: 15px;
	box-sizing: content-box;
}

.el-select .el-input.is-focus .el-input__inner {
	border-color: none;
}

.el-input--mini .el-input__inner {
	height: 30px;
	border-radius: 0 0 4px 4px;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.country_box .country_item_active {
	border-radius: 4px;
	border: solid 1px #007bfc;
	color: #007bfc;
}

.country_item_active  .el-input__inner {
	color: #007bfc !important;
	border: 1px solid #007bfc;
	background-color: #f5f6f7!important
}
 .country_item  .el-input--mini .el-input__inner {
    height: 30px;
    border-radius: 0 0 4px 4px;
    border-right: none;
    border-bottom: none;
    border-left: none;
	text-align: center;
}


.order .configbox .country_box .country_item .el-input--mini .el-input__inner {
    height: 30px;
    border-radius: 0 0 4px 4px;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

/* 城市无区域样式 */
.country_box .country_item_noarea {}



/* 更改layui默认样式 */
.layui-form-label {
	width: auto;
}

.layui-input {
	width: 220px;
}

.layui-form-select {
	width: 220px;
	float: left;
	margin-right: 10px;
}

.os-version .layui-form-select,
.os-version .layui-input {
	width: 400px !important;
}

.layui-form-checkbox i {
	height: 30px;
}

.layui-form-select dl dd.layui-this {
	background-color: #0071CE;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #0071CE;
}



.container {
	/* padding: 28px 0 0 0; */
	border-radius: 14px;
}

.container-shopping-header {
	display: flex;
	align-items: center;
	height: 70px;
	background-image: linear-gradient(248deg,
		#2b8ef2 0%,
		#2eb8f2 100%),
		linear-gradient(#ebeef5,
		#ebeef5);
	background-blend-mode: normal,
		normal;
	border-radius: 13px 13px 0px 0px;
	font-family: SourceHanSansCN-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-left: 28px;
}



/* 单选块 */
.input-block-single {
	float: left;
	height: 33px;
	line-height: 33px;
	background: #fff;
	border: 1px solid #ccd1d9;
	min-width: 70px;
	color: #333;
	margin-left: -1px;
	padding: 0 15px;
	vertical-align: middle;
	font-size: 14px;
	position: relative;
	text-align: center;
	cursor: pointer;
	z-index: 0;
}

.input-block-single:hover {
	border: 1px solid #8a9099;
	z-index: 1;
}

.input-block-single-selected {
	border-color: #00a4ff;
	position: relative;
	background: #d7e6f8;
	color: #00a4ff;
	z-index: 2;
}

/* 区域 */
.block-area-item {
	width: 160px;
	height: 118px;
	border-radius: 2px;
	border: solid 1px #e6e7eb;
	margin-right: 30px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
	float: left;
}

.block-area-item-selected {
	border: 1px solid #007bfc;
	color: #007bfc;
}

.block-area-item-selected .layui-input {
	border-color: #007bfc;
}

.area-item-city {
	height: 67px;
	text-align: center;
	padding-top: 15px;
}

.area-item-city img {
	border-radius: 4px;
}

.area-item-node {
	position: absolute;
	bottom: -1px;
}

.area-item-node .layui-form-select,
.area-item-node .layui-input {
	width: 158px;
	height: 30px;
	border-width: 1px 0 1px 0;
}

/* 底部 */
.container-shopping-footer {
	padding: 15px 25px;
	border-top: 1px solid #dbe3e4;
	background-color: #fff;
	box-shadow: 0 -4px 4px -2px #e4e9f0;
	min-height: 100px;
	position: fixed;
  bottom: 0;
	z-index: 1001;	
	width: 1170px;
}

.shopping-footer-left {
	float: left;
	width: 45%;
	height: 80px;
  border-right: 1px solid #ddd;
  display: flex;
    align-items: center;
}

.footer-left-top {
	height: 40px;
	line-height: 40px;
}

.footer-left-bottom {
	height: 40px;
	display: flex;
	align-items: center;
}

.footer-left-bottom .layui-input,
.footer-left-bottom .layui-form-select {
	width: 100px;
	height: 24px;
}

.footer-left-bottom .layui-input-block {
	margin-left: 0;
}

.footer-left-bottom .layui-form-item {
	margin-bottom: -3px;
}

.footer-left-bottom .layui-input-block {
	min-height: 30px;
}


.shopping-footer-right {
	float: left;
	width: 55%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
}

.right-start-pirce,
.price-searching {
	font-size: 18px;
	font-weight: 700;
	color: #1e9fff;
}

.right-start-detail {
	color: #999;
	text-decoration: underline;
	font-size: 12px;
	cursor: pointer;
}

/* popover 表格样式 */
.popover-table-headtr {
	background: #f6f8fa;
	line-height: 35px;
	/* border-top: 1px solid #ddd; */
	border-bottom: 1px solid #ddd;

}

.popover-table-tbodytr {
	line-height: 35px;
	border-bottom: 1px solid #ddd;
}

.popover-table-tbodytr:hover {
  background: #dfecff;
}

.w-80 {
	width: 80px;
}

.configname {
	width: 120px;
}


.popover {
	max-width: 500px;
}

.el-input__inner {
  border-radius: 2px!important;
}


/* 0807 */
.el-step__title {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.shopping-container{
	padding: 20px 0 0 0;position: relative;padding-bottom: 110px;min-height: calc(100vh - 180px);
}
.shopping-title{
	position: relative;
}
.bg-half-170 { padding-bottom: 40px;}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
}